@import url(../root.css);
@import url(../global.css);

body {
    background-color: var(--color-surface-dim);
}

.landing {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.landing > * {
    padding-left: clamp(1rem, 2vw + 0.5rem, 6rem);
    padding-right: clamp(1rem, 2vw + 0.5rem, 6rem);
    width: min(100%, 1400px);
    margin-left: auto;
    margin-right: auto;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.hero__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
}

.hero-content__heading {
    /**/
}

.hero-content__description {
    /**/
}

.about__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;
}

.about__figure {
    grid-column: span 5;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    grid-column: span 7;
}

/* Tela medium (md) */
@media screen and (width < 48rem) {
    .about__content {
        display: block;
    }
    .about__figure {
        display: none;
    }
    .about__cards {
        grid-column: unset;
    }
}

/* Tela small (sm) */
@media screen and (width < 40rem) {
    .about__cards {
        display: flex;
        flex-direction: column;
    }
}

.about__heading {
    margin-bottom: 0.5rem;
}

.motivos__heading {
    margin-bottom: 0.5rem;
}

.motivos__card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(0.25rem, 1vw, 1rem);
}

.cto {
    text-align: center;
    background-color: var(--color-primary-container);
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: unset;
    margin-left: unset;
    margin-right: unset;
}

.cto__text-muted {
    color: var(--color-on-surface-variant);
}

.cto__actions {
    /**/
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

/* Utilitários */
.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;
}

.grid-span-5 {
    grid-column: span 5;
}

.grid-span-7 {
    grid-column: span 7;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.grid-span-2 {
    grid-column: span 2;
}

/*TODO: animação scrollview*/
