<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

  <header th:fragment="cabecalho" class="site-header">
    <a th:href="@{/}" class="brand">Tentáculo Mímico</a>
    <nav class="main-nav" aria-label="Navegação principal">
      <ul>
        <li><a th:href="@{/}">Início</a></li>
        <li><a th:href="@{/cursos}">Cursos</a></li>
        <li><a th:href="@{/sobre}">Sobre</a></li>
        <li><a th:href="@{/cadastro}">Cadastro</a></li>
        <li><a th:href="@{/contato}">Contato</a></li>
      </ul>
    </nav>
  </header>

</body>
</html>
