<div th:fragment="card-simples(titulo, descricao)" class="card-simples">
    <span
        class="card-simples__title headline-small headline-small--enfatizado"
        th:text="${titulo}"
        >Título</span
    >
    <p class="card-simples__content body-large" th:text="${descricao}">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        doloremque voluptatum aperiam consequuntur culpa, sed vitae ad sit
        minus, officiis et blanditiis officia iste earum suscipit corporis, quos
        odit. Dolorum!
    </p>
</div>

<div
    th:fragment="card-colorido(titulo, caminhoImagem, descricao)"
    class="card-colorido"
>
    CARD COLORIDO
</div>
