/* COMPONENTES */
@import url(componentes/buttons.css);
@import url(componentes/inputs.css);
@import url(componentes/senha.css);
@import url(componentes/modal.css);
@import url(componentes/alert.css);
@import url(componentes/checkbox.css);
@import url(componentes/radio.css);
@import url(componentes/toggle.css);
@import url(componentes/select.css);
@import url(componentes/textarea.css);
@import url(componentes/card.css);

/* CSS GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
}