/* COMPONENTES */
@import url(componentes/buttons.css);
@import url(componentes/inputs.css);
@import url(componentes/senha.css);

/* CSS GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
}