<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/pages/home.css}">
    <title>Tentáculo Mímico</title>
</head>
<body style="padding: 2rem;">

<h2>Teste de componentes</h2>
<br><br><br>

<h3>BOTÕES</h3>
<br>
<div th:replace="~{fragments/buttons :: botao(texto='Botão', variante='primario', tamanho='grande', tipoBotao='button')}"></div>
<div th:replace="~{fragments/buttons :: botao(texto='Botão', variante='primario', tamanho='pequeno', tipoBotao='button')}"></div>

<div th:replace="~{fragments/buttons :: botao(texto='Botão', variante='secundario', tamanho='grande', tipoBotao='button')}"></div>
<div th:replace="~{fragments/buttons :: botao(texto='Botão', variante='secundario', tamanho='pequeno', tipoBotao='button')}"></div>

<div th:replace="~{fragments/buttons :: botao(texto='Botão', variante='neutro', tamanho='grande', tipoBotao='button')}"></div>
<div th:replace="~{fragments/buttons :: botao(texto='Botão', variante='neutro', tamanho='pequeno', tipoBotao='button')}"></div>

<br><br><br>

<h3>INPUTS</h3>
<br>

<div style="display:flex; flex-direction:column; gap:1.5rem; max-width:320px; padding:2rem;">

    <div th:replace="~{fragments/inputs :: input(id='campo-idle', tipo='text', rotulo='Rótulo', placeholder='Digite seu texto', valor='', obrigatorio=true, mensagemErro='', desabilitado=false)}"></div>

    <div th:replace="~{fragments/inputs :: input(id='campo-foco', tipo='text', rotulo='Rótulo', placeholder='Digitando...', valor='', obrigatorio=true, mensagemErro='', desabilitado=false)}"></div>

    <div th:replace="~{fragments/inputs :: input(id='campo-erro', tipo='text', rotulo='Rótulo', placeholder='Digite seu texto', valor='', obrigatorio=true, mensagemErro='Valor inválido', desabilitado=false)}"></div>

    <div th:replace="~{fragments/inputs :: input(id='campo-desabilitado', tipo='text', rotulo='Rótulo', placeholder='Desabilitado', valor='', obrigatorio=false, mensagemErro='', desabilitado=true)}"></div>
    <br>
    <h3>Campos de Senha</h3>
    <br>
    <div th:replace="~{fragments/senha :: campoSenha(id='senha', rotulo='Senha', placeholder='Digite sua senha', obrigatorio=true, mensagemErro='', desabilitado=false)}"></div>

    <div th:replace="~{fragments/senha :: campoSenha(id='senha-erro', rotulo='Senha', placeholder='Digite sua senha', obrigatorio=true, mensagemErro='Senha incorreta', desabilitado=false)}"></div>

</div>

<br><br><br>

<script type="module" th:src="@{/js/pages/login.js}"></script>
</body>
</html>